{% extends "base.html" %}
{% load static %}
	{% block style%}
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
     .heading{
         font-family: 'Righteous', cursive;
     }
    hr{
      width: 80%;
      border: 5px !important;
      height: 8px;
    }
    .slider{
      width: 500px;
      height: 400px;
    }
   
    .bg{
      background-color:#040C1B ;
    }
    .bgc{
      background-color: #111828;
    }
    
    @media screen and (max-width: 990px) {
          .pod{
        width: 100%;
      }
      .intro-text{
        text-align: center;
      }
      .img1{
        width: 100%;
        height: auto;
        text-align: center !important;
      }
          }
  
    </style>
	{% endblock %}

  {% block 'content' %}

  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                              START SECTION 2 - THE INTRO SECTION  
  /////////////////////////////////////////////////////////////////////////////////////////////////////-->
  
  <section id="home" class="intro-section pb-5">
    <div class="p-sm-5 text-center">
      <h1 class="heading display-2 text-white">ARKA BLOGS</h1>
    </div>
    </section>


   <section class="bg text-white py-3">
    <div class="container">
      <!-- START THE MARKETING CONTENT  -->	
        <div class="row my-2">
        <h3 class="display-6 heading  fw-bold">Blogs</h3>
          <div class="col-md-8">
            <div class="card bgc my-2">
             <div class="p-3">
              <h3 class="display-3--title">{{blog.title}}</h3>
              <p class="lh-lg">
              {{blog.body|safe}}
              </p>
              </div>
           </div>
         </div>
          <div class="col-md-4">
          <div class="card bgc">
            <div class="card bgc">
               <div class="card-body">
                <img src="{{blog.thumbnail.url}}" class="blog-img" width="100%" alt="">

              </div>
            </div>
           </div>
          </div>
        </div>
       
      </div>
    
     </section>	
    
  
    
  
   
  
  {% endblock 'content' %}
  

