{% extends "base.html" %}
{% load static %}
	{% block style%}
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
	 .heading{
       font-family: 'Righteous', cursive;
	 }
	
	 .headingbg{

        
         background-size: cover;
         background-repeat: no-repeat;
         padding: 10rem 0 0 0;
        width: 100%;
        height: 30vh;
        color: white;
         background-image: url(https://res.cloudinary.com/arka-iit-ism/image/upload/v1640863934/astronaut-1784245_w0jt1b.jpg);
     }

     .blog-img{
       width: 70%;
      
     }
     @media screen and (max-width: 750px) {
         .blog-img{
           width: 100%;
         }
        }
      .card{
        border:0 !important;
      }
	
	</style>
	{% endblock %}

{% block 'content' %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->
	
  
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////
						   START SECTION 4 - THE SERVICES  
  ///////////////////////////////////////////////////////////////////////////////////////////////////-->

  <section class="headingbg pb-5 ">
    <h4 class="display-5 fw-bold text-center heading">
     {{blog.post}}
    </h4>
  </section>

  <section class="pt-5">
	<div class="container">
        <div class="card mb-3" style="max-width: 100%;">
           <div class="ms-3 my-3">
            <h3 class="display-3--title text-black">{{blog.title}}</h3>
            <p class="card-text">
              <a href="{% url 'blogs' %}">
                <span class="badge bg-dark text-white me-2 px-3 py-1">POSTS</span>        
              </a>
                 {% if blog.post == 'ARKA NEWS' %}
                   <a href="{% url 'news' %}">
                    <span class="badge bg-warning text-dark me-2">{{blog.post}}</span>
                   </a> 
                    {% endif %}
                    {% if blog.post == 'ARKA FACTS' %}
                   <a href="{% url 'facts' %}">
                    <span class="badge bg-primary me-2">{{blog.post}}</span>
                   </a> 
                    {% endif %}
                    {% if blog.post == 'ARKA EVENTS' %}
                     <a href="{% url 'events' %}">
                    <span class="badge bg-danger me-2">{{blog.post}}</span>
                    </a> 
                    {% endif %}
                    <br>
              <small class="text-muted">Posted on {{ blog.uploaded_at}}</small></p>
              <hr>

           </div>
            <div class="text-center p-3">
                <img src="{{blog.thumbnail.url}}" class="card-img-top blog-img" alt="...">

            </div>
            <div class="card-body">
                <p class="card-text">{{blog.body|safe}}</p>
                <p class="card-text"><small class="text-muted">Last updated {{ blog.uploaded_at}}</small></p>
            </div>
        </div>  
    
	</div>
  </section> 
	
  

	

{% endblock 'content' %}