{% extends "base.html" %}
{% load static %}
	{% block style%}
	
	{% endblock %}

{% block 'content' %}


  <section class="pt-5 ">
    <h1 class="display-3 fw-bold text-center heading">ADMIN DASHBOARD</h1>
  </section>

  <section class="pt-5">
	<div class="container">
        <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                  <div class="card">
                    <img src="https://res.cloudinary.com/dhuahgrar/image/upload/v1640773575/26927-spacesuit-dashboard_lvh5tk.gif" class="img-fluid rounded-start" alt="...">

                  </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
     	
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                  <div class="card">
                    <img src="https://res.cloudinary.com/dhuahgrar/image/upload/v1640773575/26927-spacesuit-dashboard_lvh5tk.gif" class="img-fluid rounded-start" alt="...">

                  </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                  <div class="card">
                    <img src="https://res.cloudinary.com/dhuahgrar/image/upload/v1640773575/26927-spacesuit-dashboard_lvh5tk.gif" class="img-fluid rounded-start" alt="...">

                  </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                  <div class="card">
                    <img src="https://res.cloudinary.com/dhuahgrar/image/upload/v1640773575/26927-spacesuit-dashboard_lvh5tk.gif" class="img-fluid rounded-start" alt="...">

                  </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h3 class="card-title">Card title</h3>
                  <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
            </div>
          </div>
	
    
        
    
	</div>
  </section> 
	
  
  



	

{% endblock 'content' %}