{% extends "base.html" %}
{% load static %}
	{% block style%}
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
         .heading{
             font-family: 'Righteous', cursive;
         }
         .gallery-title
{
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}
.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #42B32F;
    margin-bottom: 30px;

}
.filter-button:hover
{
    font-size: 18px;
    border: 1px solid #42B32F;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
    background-color: #42B32F;
    color: white;
}

.port-image
{
    width: 100%;
}

.gallery_product
{
    margin-bottom: 30px;
}

        hr{
          width: 80%;
          border: 5px !important;
          height: 8px;
        }
        .slider{
          width: 500px;
          height: 400px;
        }
        .pod{
          width: 100%;
        }
        .gal{
          height: 300px;
        }
        .card{
          border: white !important;
        }
        .bg{
          background-color:#040C1B ;
        }
        .bgc{
          background-color: #111828;
        }
        .img1{
          width: 50%;
          height: auto;
        }
        @media screen and (max-width: 990px) {
              .pod{
            width: 100%;
          }
          .intro-text{
            text-align: center;
          }
          .img1{
            width: 100%;
            height: auto;
            text-align: center !important;
          }
              }
      
        </style>
	{% endblock %}

{% block 'content' %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->
	
  
<section id="home" class="intro-section pb-5">
    <div class="p-sm-5 text-center">
      <h1 class="heading display-2 text-white">ARKA Gallery</h1>

      <div align="center">
        <button class="btn btn-default filter-button" data-filter="all">All</button>
        <button class="btn btn-default filter-button" data-filter="news">News</button>
        <button class="btn btn-default filter-button" data-filter="events">Events</button>
        <button class="btn btn-default filter-button" data-filter="facts">Facts</button>
    </div>
    </div>
</section>

 
  <section id="services" class="bg services">
      <!---->
      <div class="container">
        <div class="row">
        

      
        <br/>

      
          {% for img in images  %}
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter {{img.post}}">
                <img src="{{img.thumbnail.url}}" class="img-responsive">
            </div>

            {% endfor %}

            
            <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6 filter sprinkle">
                <img src="http://fakeimg.pl/365x365/" class="img-responsive">
            </div>
        </div>
    </div>
	
  </section> 
	
  
  <!-- //////////////////////////////////////////////////////////////////////////////////////////////// -->

  <script>
           $(document).ready(function(){

    $(".filter-button").click(function(){
        var value = $(this).attr('data-filter');
        
        if(value == "all")
        {
            //$('.filter').removeClass('hidden');
            $('.filter').show('1000');
        }
        else
        {
//            $('.filter[filter-item="'+value+'"]').removeClass('hidden');
//            $(".filter").not('.filter[filter-item="'+value+'"]').addClass('hidden');
            $(".filter").not('.'+value).hide('3000');
            $('.filter').filter('.'+value).show('3000');
            
        }
    });
    
    if ($(".filter-button").removeClass("active")) {
$(this).removeClass("active");
}
$(this).addClass("active");

});
       </script>

	

{% endblock 'content' %}