{% extends "base.html" %}
{% load static %}
	{% block style%}
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
	 .heading{
       font-family: 'Righteous', cursive;
	 }
	hr{
		width: 80%;
		border: 5px !important;
		height: 8px;
	}
	</style>
	{% endblock %}

{% block 'content' %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->

<section id="home" class="intro-section">
	<div class="container">
	  <div class="row align-items-center text-white">
		<!-- START THE CONTENT FOR THE INTRO  -->
		<div class="col-md-6 intros text-start">
		  <h2 class="display-4">
			<span class="display-4">Welcome To</span> <br>
			<hr>
			<span class="display-4--intro subtitle heading">
			  Astronomy Club of IIT (ISM) Dhanbad
			</span>
		  </h2>
		 
		</div>
		<!-- START THE CONTENT FOR THE VIDEO -->
		<div class="col-md-6 intros text-end">
		  <div class="video-box">
			<a href="https://res.cloudinary.com/arka-iit-ism/video/upload/v1640787212/y2mate.com_-_TIMELINE_ARKA_The_Astronomy_Club_of_IITISM_Dhanbad_1080p.mp4_qkqqdt.mp4" 
			class="glightbox position-absolute top-50 start-50 translate-middle">
			  <span>
				<i class="fas fa-play-circle"></i>
			  </span>
			  <span class="border-animation border-animation--border-1"></span>
			  <span class="border-animation border-animation--border-2"></span>
			</a>
		  </div>
		</div>
	  </div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ffffff" fill-opacity="1" d="M0,160L48,176C96,192,192,224,288,208C384,192,480,128,576,133.3C672,139,768,213,864,202.7C960,192,1056,96,1152,74.7C1248,53,1344,107,1392,133.3L1440,160L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  </section>
  

  <section >
	<div class="container">
	  <div class="row text-center">
		<h1 class="display-5 heading fw-bold">Who are we ?</h1>

		<div class="heading-line mb-1"></div>
	  </div>
	<!-- START THE DESCRIPTION CONTENT  -->
	  <div class="row pt-2 pb-2 mt-0 mb-3">
		<div class="col-md-6 border-right">
		  <div class="bg-white p-3">
			<h3 class="text-capitalize">
				The Association for Research and Knowledge in Astronomy, or
				ARKA, is the official Astronomy and Physics club of IIT(ISM)
				Dhanbad			</h3>
		  </div>
		</div>
		<div class="col-md-6">
		  <div class="bg-white p-4 text-start">
			<h3 class="display-3--title mt-1"><i class="icon fas fa-rocket"></i> What we do.</h3>

			<p class="fw-light">
			  Lorem ipsum dolor sit amet consectetur architecto magni, 
			  dicta maxime laborum temporibus dolorem esse doloremque illo quas nisi enim molestias. 
			  Tempore ducimus molestiae in dolore enim.
			</p>
		  </div>
		</div>
	  </div>
	</div>
	
  
	<!-- START THE CONTENT FOR THE SERVICES  -->
	<div class="container mt-5">
	  <!-- START THE MARKETING CONTENT  -->
	  <h1 class="display-5 heading text-center fw-bold">Our Activities</h1>
	  <div class="heading-line mb-1"></div>

	  <p class="lh-lg text-center">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
		 doloremque autem quibusdam blanditiis harum alias hic accusantium 
		 maxime atque ratione magni repellat?
	  </p>
	  <div class="row">
		  
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services">
		  <div class="services__content">
			<h3 class="display-3--title mt-1"> <i class="icon fas fa-rocket"></i> Primus Talk</h3>
			<p class="lh-lg">
			  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
			   doloremque autem quibusdam blanditiis harum alias hic accusantium 
			   maxime atque ratione magni repellat?
			</p>
			<button type="button" class="rounded-pill btn-rounded border-primary">Learn more
			  <span><i class="fas fa-arrow-right"></i></span>
			</button>
		  </div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
		  <div class="services__pic">
			<img src="https://res.cloudinary.com/arka-iit-ism/image/upload/v1640764719/undraw_maker_launch_re_rq81_tso7ow.svg" alt="marketing illustration" class="img-fluid">
		  </div>
		</div>
	  </div>
	  <!-- START THE WEB DEVELOPMENT CONTENT  -->
	  <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-start">
		  <div class="services__pic">
			<img src="https://res.cloudinary.com/arka-iit-ism/image/upload/v1640764945/arkaNews_kljpfy.svg" width="90%" alt="web development illustration" class="img-fluid">
		  </div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
		  <div class="services__content">
			<h3 class="display-3--title mt-1"> <i class="icon fas fa-rocket"></i> Quarka</h3>
			<p class="lh-lg">
			  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
			   doloremque autem quibusdam blanditiis harum alias hic accusantium 
			   maxime atque ratione magni repellat?
			</p>
			<button type="button" class="rounded-pill btn-rounded border-primary">Learn more
			  <span><i class="fas fa-arrow-right"></i></span>
			</button>
		  </div>
		</div>
	  </div>
	  <!-- START THE CLOUD HOSTING CONTENT  -->
	  <div class="row">
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4">
		  <div class="services__content">
			<div class="icon d-block fas fa-cloud-upload-alt"></div>
			<h3 class="display-3--title mt-1">cloud hosting</h3>
			<p class="lh-lg">
			  Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi, impedit rem,
			   doloremque autem quibusdam blanditiis harum alias hic accusantium 
			   maxime atque ratione magni repellat?
			</p>
			<button type="button" class="rounded-pill btn-rounded border-primary">Learn more
			  <span><i class="fas fa-arrow-right"></i></span>
			</button>
		  </div>
		</div>
		<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 services mt-4 text-end">
		  <div class="services__pic">
			<img src="https://res.cloudinary.com/arka-iit-ism/image/upload/v1640843460/undraw_geniuses_9h9g_ab65x8.svg" alt="cloud hosting illustration" class="img-fluid">
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <!-- ////////////////////////////////////////////////////////////////////////////////////////////////
								 START SECTION 5 - THE TESTIMONIALS  
  /////////////////////////////////////////////////////////////////////////////////////////////////////-->
  <section id="testimonials" class="testimonials">
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,0L1392,0C1344,0,1248,0,1152,0C1056,0,960,0,864,0C768,0,672,0,576,0C480,0,384,0,288,0C192,0,96,0,48,0L0,0Z"></path></svg>
	<div class="container">
	  <div class="row text-center text-white">
		<h1 class="display-3 fw-bold">Testimonials</h1>
		<hr style="width: 100px; height: 3px; " class="mx-auto">
		<p class="lead pt-1">what our clients are saying</p>
	  </div>
  
	  <!-- START THE CAROUSEL CONTENT  -->
	  <div class="row align-items-center">
		<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
		  <div class="carousel-inner">
			<!-- CAROUSEL ITEM 1 -->
			<div class="carousel-item active">
			  <!-- testimonials card  -->
			  <div class="testimonials__card">
				<p class="lh-lg">
				  <i class="fas fa-quote-left"></i>
				  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				  Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
				  <i class="fas fa-quote-right"></i>
				  <div class="ratings p-1">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				  </div>
				</p>
			  </div>
			  <!-- client picture  -->
			  <div class="testimonials__picture">
				<img src="images/testimonials/client-1.jpg" alt="client-1 picture" class="rounded-circle img-fluid">
			  </div>
			  <!-- client name & role  -->
			  <div class="testimonials__name">
				<h3>Patrick Muriungi</h3>
				<p class="fw-light">CEO & founder</p>
			  </div>
			</div>     
			<!-- CAROUSEL ITEM 2 -->
			<div class="carousel-item">
			  <!-- testimonials card  -->
			  <div class="testimonials__card">
				<p class="lh-lg">
				  <i class="fas fa-quote-left"></i>
				  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				  Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
				  <i class="fas fa-quote-right"></i>
				  <div class="ratings p-1">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				  </div>
				</p>
			  </div>
			  <!-- client picture  -->
			  <div class="testimonials__picture">
				<img src="images/testimonials/client-2.jpg" alt="client-2 picture" class="rounded-circle img-fluid">
			  </div>
			  <!-- client name & role  -->
			  <div class="testimonials__name">
				<h3>Joy Marete</h3>
				<p class="fw-light">Finance Manager</p>
			  </div>
			</div>     
			<!-- CAROUSEL ITEM 3 -->
			<div class="carousel-item">
			  <!-- testimonials card  -->
			  <div class="testimonials__card">
				<p class="lh-lg">
				  <i class="fas fa-quote-left"></i>
				  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				  Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
				  <i class="fas fa-quote-right"></i>
				  <div class="ratings p-1">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				  </div>
				</p>
			  </div>
			  <!-- client picture  -->
			  <div class="testimonials__picture">
				<img src="images/testimonials/client-3.jpg" alt="client-3 picture" class="rounded-circle img-fluid">
			  </div>
			  <!-- client name & role  -->
			  <div class="testimonials__name">
				<h3>ClaireBelle Zawadi</h3>
				<p class="fw-light">Global brand manager</p>
			  </div>
			</div>     
			<!-- CAROUSEL ITEM 4 -->
			<div class="carousel-item">
			  <!-- testimonials card  -->
			  <div class="testimonials__card">
				<p class="lh-lg">
				  <i class="fas fa-quote-left"></i>
				  Lorem ipsum dolor sit amet consectetur adipisicing elit. 
				  Placeat aut consequatur illo animi optio exercitationem doloribus eligendi iusto atque repudiandae. Distinctio.
				  <i class="fas fa-quote-right"></i>
				  <div class="ratings p-1">
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
					<i class="fas fa-star"></i>
				  </div>
				</p>
			  </div>
			  <!-- client picture  -->
			  <div class="testimonials__picture">
				<img src="images/testimonials/client-4.jpg" alt="client-4 picture" class="rounded-circle img-fluid">
			  </div>
			  <!-- client name & role  -->
			  <div class="testimonials__name">
				<h3>Uhuru Kenyatta</h3>
				<p class="fw-light">C.E.O & Founder</p>
			  </div>
			</div>     
		  </div>
		  <div class="text-center">
			<button class="btn btn-outline-light fas fa-long-arrow-alt-left" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
		  </button>
		  <button class="btn btn-outline-light fas fa-long-arrow-alt-right" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
		  </button>
		  </div>
		</div>
	  </div>
	</div>
	<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1" d="M0,96L48,128C96,160,192,224,288,213.3C384,203,480,117,576,117.3C672,117,768,203,864,202.7C960,203,1056,117,1152,117.3C1248,117,1344,203,1392,245.3L1440,288L1440,320L1392,320C1344,320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,320C192,320,96,320,48,320L0,320Z"></path></svg>
  </section>
  
  
  
  <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////
								START SECTION 7 - THE Gallery
  //////////////////////////////////////////////////////////////////////////////////////////////////////-->
  
  <section id="portfolio" class="portfolio">
	<div class="container">
	  <div class="row text-center mt-5">
		<h1 class="display-3 fw-bold text-capitalize">ARKA Gallery</h1>
		<div class="heading-line"></div>
		<p class="lead">
		  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro temporibus distinctio.
		</p>
	  </div>
	
  
	  <!-- START THE PORTFOLIO ITEMS  -->
	  <div class="row">
        {% for img in images %}
		<div class="col-lg-4 col-md-6">
		  <div class="portfolio-box shadow">
			<img src="{{img.thumbnail.url}}" alt="{{ img.title }}" title="{{ img.title }}" class="img-fluid" width="100%">
			<div class="portfolio-info">
			  <div class="caption heading">
				<h4>{{ img.title|slice:":20"}} {% if img.title|length > 20 %}...{% endif %}</h4>
				<p><a href="{% url 'blog' img.pk %}" class="text-white">Lear more</a></p>
			  </div>
			</div>
		  </div>
		</div>
        {% endfor %}
	
    </div>
	
	</div>
  </section>


	

{% endblock 'content' %}