{% extends "base.html" %}
{% load static %}
	{% block style%}
	<style>
	@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
	 .heading{
       font-family: 'Righteous', cursive;
	 }
	hr{
		width: 80%;
		border: 5px !important;
		height: 8px;
	}
	.slider{
		width: 500px;
		height: 400px;
	}
	.pod{
		width: 100%;
	}
	.gal{
		height: 300px;
	}
	.card{
		border: white !important;
	}
	.bg{
		background-color:#040C1B ;
	}
	.bgc{
		background-color: #111828;
	}
	.img1{
		width: 50%;
		height: auto;
	}
	@media screen and (max-width: 990px) {
        .pod{
			width: 100%;
		}
		.intro-text{
			text-align: center;
		}
		.img1{
			width: 100%;
			height: auto;
			text-align: center !important;
		}
        }

	</style>
	{% endblock %}

{% block 'content' %}

<!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                            START SECTION 2 - THE INTRO SECTION  
/////////////////////////////////////////////////////////////////////////////////////////////////////-->

<section id="home" class="intro-section pb-5">
	<div class="p-sm-5 text-center">
	  <h1 class="heading display-2 text-white">ARKA</h1>
	  <h2 class="text-white display-5 heading">
	<b>The 
		Astronomy Club <br> IIT (ISM) Dhanbad</b></h2>
	</div>
  </section>

<section>
	<div class=" wrapper bg text-white">
		<div class="p-sm-5">
			<div class="row">
				<div class="col-md-8">
				 <div class="card bgc  p-3" style="border: white;" >
					 <h3 class="heading intro-text">About us</h3>
					 <div class="bgc my-3">
						 <img class="pod" src="https://res.cloudinary.com/arka-iit-ism/image/upload/v1642253827/ARKA_Banner_1_ke89zg.svg" alt="">
	
					 </div>
					 <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
						 Minima molestias non ex laborum dicta est libero, accusantium
						quidem incidunt, deleniti consectetur earum at, suscipit id repellendus. Recusandae
						   atque eius excepturi quia modi aut harum ipsam aliquid dolorum exercitationem laboriosam nesciunt,
							asperiores omnis deleniti nostrum cumque eos eum aperiam eveniet amet non dignissimos? Voluptas corrupti earum
							 debitis quas eum distinctio optio laborum ex repellendus iste ipsa,
						  perspiciatis corporis. Voluptatem iure suscipit totam odio?</p>
						  <div class="heading-line2 mb-1"></div>
				 </div>
				</div>
				<div class="col-md-4">
	              <div class="card py-5 bgc">
					 <div class="card bgc m-2">
						<div class="card-body">
							<h3 class="heading text-center">Latest News</h3>
                    <hr>
							{% for notice in allnotice %}
							<h5 class="heading">{{notice.title}}</h5>
							<p>{{notice.body|safe|slice:":200"}}</p>
							<hr>
										 
							{% endfor %}
						</div>
					 </div>
				  </div>
				</div>
			</div>
		</div>
	</div>
</section>
  

	
	
  
	<!-- START THE CONTENT FOR THE SERVICES  -->
 <section class="intro-section text-white py-3">
	<div class="p-sm-5">
	  <!-- START THE MARKETING CONTENT  -->	
		  <div class="row my-2">
			<h3 class="display-6 heading  fw-bold">Activities</h3>
			  <div class="col-md-8">
                <div class="card bgc my-2">
					<div class="services__content">
						<h3 class="display-3--title"> <i class="far fa-calendar-alt" style="font-size: 2.3rem;" aria-hidden="true"></i> Arka Events</h3>
						<p class="lh-lg">
							To help its members gain technical expertise in astronomy, 
							ARKA holds frequent competitions, seminars, space talks, 
							and events with prominent scientists and researchers. 
							The club also has its very own state-of-the-art Dobsonian telescope to explore the marvels of the night sky.
						</p>
						<a href="{% url 'events' %}" class=" btn rounded-pill border-primary">
							<span class="text-white"> Learn more <i class="fas fa-arrow-right " 
							  style="
								  background:#80168b; 
								  color: white;
								  border-radius:50%;
								  padding-left: 10px;
								  padding-right: 10px;
								  padding-top: 9px;
								  padding-bottom: 9px;
			  
			  
								  "></i></span>
						   </a>
					  </div>
				</div>
				<div class="card bgc my-2">
					<div class="services__content">
						<h3 class="display-3--title mt-1"> <i class="bi bi-newspaper" style="font-size: 2.3rem;"></i> Arka News</h3>
						<p class="lh-lg">
							The outer space is a frontier of happenings and bizzare events. We present them to you through posters and carefully selelcted contents for you to comprehend. 
						</p>
						<a href="{% url 'news' %}" class=" btn rounded-pill border-primary">
						  <span class="text-white"> Learn more <i class="fas fa-arrow-right " 
							style="
								background:#80168b; 
								color: white;
								border-radius:50%;
								padding-left: 10px;
								padding-right: 10px;
								padding-top: 9px;
								padding-bottom: 9px;
			
			
								"></i></span>
						 </a>
					  </div>
				  </div>
				  <div class="card bgc">
					<div class="services__content">
						<!-- <div class="icon fas fa-rocket"></div> -->
						<h3 class="display-3--title mt-1"><i class="bi bi-camera-reels" style="font-size: 2.3rem;"></i> Arka Tapes</h3>
						<p class="lh-lg">
							To instill the interest for astronomy in the students of our institute, we present various topics in the form of individual presentations, group discussions as well as
						interviews of dignified individuals who are closely related to the field and/or working on it.
						</p>
						<a href="{% url 'gallery' %}" class=" btn rounded-pill border-primary">
							<span class="text-white"> Learn more <i class="fas fa-arrow-right " 
							  style="
								  background:#80168b; 
								  color: white;
								  border-radius:50%;
								  padding-left: 10px;
								  padding-right: 10px;
								  padding-top: 9px;
								  padding-bottom: 9px;
			  
			  
								  "></i></span>
						   </a>
					  </div>
				  </div>


				
			  </div>
			  <div class="col-md-4">
				<div class="card bgc">
					<div class="card bgc m-2">
					   <div class="card-body">
						<h3 class="heading text-center">Astronomy <br> Picture of the Day</h3>
						<hr>
						 <img src="{{pod.img}}" width="100%" alt="">
						 <p class="text-center mt-3">
							<a href="{{pod.img}}" target="_blank" class=" btn rounded-pill border-primary">
								<span class="text-white"> Full Image
							   </a>
						 </p>
						 <h4 class="my-3">{{pod.title}}</h4>
						 <p >{{pod.body}}</p>
						 
					  </div>
					</div>
				 </div>
			  </div>
		  </div>
		 
	  </div>
	
   </section>	
  

  
  <section id="portfolio" class="p-sm-5 bg portfolio text-white">
	  
	<div class="">
	  <div class="row text-center mt-5">
		<h1 class="display-6 heading text-capitalize">ARKA Gallery</h1>
		<div class="heading-line"></div>
		<p class="lead">
		  Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint porro temporibus distinctio.
		</p>
	  </div>
	
	  <!-- START THE PORTFOLIO ITEMS  -->
	  <div class="row">
        {% for img in images %}
		<div class="col-lg-3 col-md-6">
		  <div class="card gal m-2" 
		  style="
		  background-image: url({{img.thumbnail.url}}) ; 
		  background-size:100%;
		  background-repeat:no-repeat;
		   ">
		  </div>
		</div>
        {% endfor %}
	
    </div>
	
	</div>
  </section>


  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <script>
	    mapboxgl.accessToken = 'pk.eyJ1IjoicmFqYXJzaGkxNTA1IiwiYSI6ImNrc2Z5ajF0MjFlejgycW9kYWh4cjJxZmIifQ.5Xw7KCe9x_bcbrAreRZyAg';
		var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11',
			center: [86.4412,23.8143],
			zoom: 12
		});

		map.addControl(new mapboxgl.NavigationControl());
  </script>

	

{% endblock 'content' %}
