{% extends "base.html" %}
{% load static %}
	{% block style%}
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
     .heading{
         font-family: 'Righteous', cursive;
     }
    hr{
      width: 80%;
      border: 5px !important;
      height: 8px;
    }
    .slider{
      width: 500px;
      height: 400px;
    }
    .pod{
      width: 100%;
    }
    .gal{
      height: 300px;
    }
    .card{
      border: white !important;
    }
    .bg{
      background-color:#040C1B ;
    }
    .bgc{
      background-color: #111828;
    }
    .img1{
      width: 50%;
      height: auto;
    }
    @media screen and (max-width: 990px) {
          .pod{
        width: 100%;
      }
      .intro-text{
        text-align: center;
      }
      .img1{
        width: 100%;
        height: auto;
        text-align: center !important;
      }
          }
  
    </style>
	{% endblock %}

  {% block 'content' %}

  <!-- /////////////////////////////////////////////////////////////////////////////////////////////////
                              START SECTION 2 - THE INTRO SECTION  
  /////////////////////////////////////////////////////////////////////////////////////////////////////-->
  
  <section id="home" class="intro-section pb-5">
    <div class="p-sm-5 text-center">
      <h1 class="heading display-2 text-white">Announcement</h1>
    </div>
    </section>


   <section class="bg text-white py-3">
    <div class="container">
      <!-- START THE MARKETING CONTENT  -->	
        <div class="row my-2">
        <h3 class="display-6 heading  fw-bold">Blogs</h3>
          <div class="col-md-8">
            {% for blog in allnotices %}
            <div class="card bgc my-2">
             <div class="p-3">
              <h3 class="display-3--title">{{blog.title}}</h3>
              <p class="lh-lg">
                To help its members gain technical expertise in astronomy, 
                ARKA holds frequent competitions, seminars, space talks, 
                and events with prominent scientists and researchers. 
                The club also has its very own state-of-the-art Dobsonian telescope to explore the marvels of the night sky.
              </p>
              <a href="{% url 'blog' blog.id %}" class=" btn rounded-pill border-primary">
                <span class="text-white"> Learn more <i class="fas fa-arrow-right " 
                  style="
                    background:#80168b; 
                    color: white;
                    border-radius:50%;
                    padding-left: 10px;
                    padding-right: 10px;
                    padding-top: 9px;
                    padding-bottom: 9px;
          
          
                    "></i></span>
                 </a>
              </div>
           </div>
           {% endfor %}
         </div>
          <div class="col-md-4">
          <div class="card bgc">
            <div class="card bgc m-2">
               <div class="card-body">
                <a href="{{pod.img}}" target="_blank" class="m-1 btn rounded-pill border-primary">
                  <span class="text-white"> News
                 </a>
                 <a href="{{pod.img}}" target="_blank" class="m-1 btn rounded-pill border-primary">
                  <span class="text-white"> Facts
                 </a>
                 <a href="{{pod.img}}" target="_blank" class="m-1 btn rounded-pill border-primary">
                  <span class="text-white"> Events
                 </a>
                 <a href="{{pod.img}}" target="_blank" class="m-1 btn rounded-pill border-primary">
                  <span class="text-white"> NASA
                 </a>
                 <a href="{{pod.img}}" target="_blank" class="m-1 btn rounded-pill border-primary">
                  <span class="text-white"> ISRO
                 </a>
              
              </div>
            </div>
           </div>
          </div>
        </div>
       
      </div>
    
     </section>	
    
  
    
  
   
  
  {% endblock 'content' %}
  

