{% extends "base.html" %}
{% load static %}
	{% block style%}
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
	 .heading{
       font-family: 'Righteous', cursive;
	 }
	
	
	 .headingbg{

        
    background-size: cover;
    background-repeat: no-repeat;
    padding: 6rem 0 0 0;
   width: 100%;
   height: 30vh;
   color: white;
    background-image: url(https://res.cloudinary.com/arka-iit-ism/image/upload/v1640866758/greg-rakozy-0LU4vO5iFpM-unsplash_dc6l6l.jpg);
}

	
	</style>
	{% endblock %}

{% block 'content' %}



  <section class="headingbg pb-5 ">
    <h1 class="display-3 fw-bold text-center heading">ARKA NEWS</h1>
  </section>

  <section class="pt-5">
	<div class="container">
        {% for blog in allnews  %}
          <div class="card mb-3" style="max-width: 100%;">
            <div class="row g-0">
              <div class="col-md-4">
                  <div class="card ">
                    <img class="card p-2" src="{{blog.thumbnail.url}}" alt="...">

                  </div>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <div class="">
                      <h3 class="display-3--title">{{blog.title}}</h3>
                       <p class="card-text">
                    <small class="text-muted">Posted on {{ blog.uploaded_at}}</small></p>
                    <p class="lh-lg">
                      {{blog.body|safe|slice:":150"}}
                     
                    </p>
                      <a  href="{% url 'blog' blog.id %}" class=" btn rounded-pill border-primary">Read more
                        <span><i class="fas fa-arrow-right"></i></span>
                      </a>
                   </div>
                  <!---
                  <h3 class="card-title">{{ blog.title }}</h3>
                  <p class="card-text">{{blog.body|slice:":150"}}... <a href="{% url 'blog' blog.id %}">Read more</a></p>
                  <p class="card-text">
                    {% if blog.post == 'ARKA News' %}
                    <span class="badge bg-warning text-dark me-2">{{blog.post}}</span> 
                    {% endif %}
                    {% if blog.post == 'ARKA Facts' %}
                    <span class="badge bg-primary me-2">{{blog.post}}</span> 
                    {% endif %}
                    {% if blog.post == 'ARKA Events' %}
                    <span class="badge bg-danger me-2">{{blog.post}}</span> 
                    {% endif %}
                    <small class="text-muted">Posted on {{ blog.uploaded_at}}</small></p>
                  -->
                </div>
              </div>
            </div>
          </div>
        {% endfor %}

    <!-- Pagination-->

    {% block pagination %}
    {% if is_paginated %}
        <div class="pagination text-center py-4" style="font-size: 25px;text-align: center;">
            <span class="page-links text-center">
                {% if page_obj.has_previous %}
                    <a href="{{ request.path }}?page={{ page_obj.previous_page_number }}"><i class="bi bi-arrow-left-square-fill"></i></a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{{ request.path }}?page={{ page_obj.next_page_number }}"><i class="bi bi-arrow-right-square-fill"></i></a>
                {% endif %}
            </span>
        </div>
    {% endif %}
    {% endblock %}
       
	</div>
  </section> 
	
  
  


	

{% endblock 'content' %}